{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="display-6 py-4">Welcome, {{ member.first_name }}</h1>
    <p class="lead">Here is what you and your friends like on IMDB!</p>
    <div class="row mt-5">
        <div class="col-md-4">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{output[0].image}}" class="d-block w-100" alt="...">
                </div>
                {% for r in output %}
                    {% if r.id in faves_ids %}
                <div class="carousel-item">
                  <img src="{{r.image}}" class="d-block w-100" alt="...">
                </div>
                    {% endif %}
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col">
            <h3 class="display-5 py-4">User favorites:</h3>
            <div class="list-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Year</th>
                            <th class='text-center'>Personal Favorite</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movie in movies %}
                        <tr>
                            <td>{{ movie.title }}</td>
                            <td>{{ movie.release_date }}</td>
                            <td class='text-center'>
                                {% if movie.imdb_id in faves_ids %}
                                <small><img class='check'src='/static/img/R.png' alt='check'></small>
                                {% endif %}
                        </tr>
                        {% endfor %}
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}