{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="display-6 py-4">Welcome, {{ member.first_name }}</h1>
    <p class="lead">Here is what you and your friends like on IMDB!</p>
    <div class="row mt-5">
        <div class="col-md-4">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
                </div>
            </div>
            <div class="carousel-inner">
                {% for r in output %}
                {% if r.id in faves_ids %}
            <div class="carousel-item {% if loop.index == 1 %} active{% endif %}"  data-bs-interval="10000">
                <img class="d-block w-100 rounded rounded-5" src="{{ r.image}}" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                <h5 class='fw-bold'>{{ r.title }}</h5>
                <p class='fw-bold'></p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
        <div class="col">
            <h3 class="display-6 py-4">Your favorites:</h3>
            <div class="list-group">
                    {% for r in output %}
                        <a href="/movies/search/results/{{ r.id }}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ r.title }}</h5>
                            {% if r.id in faves_ids %}
                            <small><img class='check'src='/static/img/R.png' alt='check'></small>
                            {% endif %}
                        </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <h8 class="display-6 py-4">Popular among friends:</h8>
                <div class="list-group">
                        {% for movie in movies %}
                            <a href="/movies/search/results/{{ movie.imdb_id }}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ movie.title }}</h5>
                            </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock content %}