{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="py-3" id="hideMe">
	{% with messages = get_flashed_messages(category_filter=['logout']) %}
		{% if messages %}
			{% for msg in messages %}
				<p class="alert alert-danger">{{msg}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	</div>
	<div class="row">
		<div class="col mr-6">
			<form action="/login/member" method="POST" class="mx-auto p-4 bg-light text-light rounded-3">
			<h2 class="text-dark pb-4">Member Login</h2>
			{% with messages = get_flashed_messages(category_filter=['login']) %}
				{% if messages %}
				<div class="alert alert-danger" role="alert">
					<strong>You have errors in your registration:</strong>
					<br><br>
					<ul>
						{% for message in messages %}
							<li>{{message}}</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			{% endwith %}
			<div class="form-group pb-4">
				<label class="pb-2 text-dark" for="email">Email</label>
				<input type="text" name="email" class="form-control">
			</div>
			<div class="form-group pb-4">
				<label class="pb-2 text-dark" for="password">Password</label>
				<input type="password" name="password" class="form-control">
			</div>
			
			<input type="submit" value="Login" class="btn btn-warning">
			</form>
		</div>
		<div class="col-md-6">
			<form action="/new/member" method="POST" class="mx-auto p-4 bg-light text-light rounded-3">
				<h2 class="text-dark pb-4">New Users</h2>
				{% with messages = get_flashed_messages(category_filter=['register']) %}
					{% if messages %}
					<div class="alert alert-danger" role="alert">
						<strong>You have errors in your registration:</strong>
							<br><br>
							<ul>
							{% for message in messages %}
								<li>{{message}}</li>
							{% endfor %}
							</ul>
					</div>
					{% endif %}
				{% endwith %}
				<div class="form-group pb-4">
					<label class="pb-2 text-dark" for="first_name">First Name</label>
					<input type="text" name="first_name" class="form-control">
				</div>
				<div class="form-group pb-4">
					<label class="pb-2 text-dark" for="last_name">Last Name</label>
					<input type="text" name="last_name" class="form-control">
				</div>
				<div class="form-group pb-4">
					<label class="pb-2 text-dark" for="screenname">Screenname</label>
					<input type="text" name="screenname" class="form-control">
				</div>
				<div class="form-group pb-4">
					<label class="pb-2 text-dark" for="email">Email</label>
					<input type="text" name="email" class="form-control">
				</div>
				<div class="form-group pb-4">
					<label class="pb-2 text-dark" for="password">Password</label>
					<input type="password" name="password" class="form-control">
				</div>
				<div class="form-group pb-4">
					<label class="pb-2 text-dark" for="confirm">Confirm Password</label>
					<input type="password" name="confirm" class="form-control">
				</div>
				<input type="submit" value="Register" class="btn btn-warning">
			</form>
		</div>
	</div>
</div>
{% endblock content %}