{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="display-6 py-4">This is {{ member.first_name }}</h1>
	<a href='/profile_edit'class="btn btn-warning">Edit</a>
<div class ="md-4">
	<h3>Screen Name: {{member.screenname}}</h3>
	<h3>Email: {{member.email}}</h3>
	<h3>First Name: {{member.first_name}}</h3>
	<h3>Last Name: {{member.last_name}}</h3>
	<h3>City: {{member.city}}</h3>
	<h3>State: {{member.state}}</h3>
	<h3>About Me: {{member.about_me}}</h3>
</div>
</div>

{% endblock content %}